  <script src="{{static}}/oxus/js/common.js" type="text/javascript"></script>
  <script src="{{static}}/oxus//js/d3.min.js" type="text/javascript"></script>
  <script src="{{static}}/oxus/js/nv.d3.min.js" type="text/javascript"></script>
  <script src="{{static}}/oxus/js/tree_node.js" type="text/javascript"></script>
  <script src="{{static}}/oxus/js/mpld3.v0.2.js" type="text/javascript"></script>
{% if css %}
  <style>{{css}}</style>
{% else %}
  {% for css in css_files %}
  <link rel="stylesheet" href="{{static}}/oxus/css/{{css}}.css" type="text/css"/>
  {% endfor %}
{% endif %}
